<!DOCTYPE html>
{% load static %}

<html lang="pt">
<head>
    <!-- Importacoes -->
    {% include "importacoes.html" %}

    <link rel="stylesheet" href="{% static 'css/quemsomos.css' %}">
    <script src="{% static 'js/quemsomos.js' %}"></script>


    <meta charset="UTF-8">
    <title>Quem Somos | Centro Espírita Bezerra de Meneses</title>

</head>

<body>

    <!-- Menu superior -->

    <ul id="dropdown1" class="dropdown-content">
      <li class="active"><a href="quemsomos" class="blue-text">QUEM SOMOS</a></li>
      <li><a href="galeria" class="blue-text">GALERIA</a></li>
      <li><a href="contato" class="blue-text">CONTATO</a></li>
    </ul>

    <nav id="area_menu_desktop" class="hide-on-med-and-down">

        <div class="nav-wrapper container">

            <a href="" class="brand-logo"><img id="logo_site_desktop" src="{% static 'imagens/logo_centro.png' %}"></a>

            <ul class="right hide-on-med-and-down btns_menu">
                <li><a href="home" class=" blue-text darken-4">INÍCIO</p></a></li>
                <li><a href="atividades" class="blue-text darken-4">ATIVIDADES</a></li>
                <li><a href="noticias" class="blue-text darken-4">NOTÍCIAS</a></li>
                <li><a class="dropdown-button blue-text darken-4" href="#!" data-activates="dropdown1">SOBRE NÓS<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

        </div>


    </nav>

    <nav id="area_menu_mobile" class="hide-on-large-only">

        <div class="nav-wrapper container">

            <a href="" class="brand-logo hide-on-small-only"><img id="logo_site_mobile" src="{% static 'imagens/logo_centro.png' %}"></a>
            <a href="" class="brand-logo hide-on-med-and-up"><img id="logo_site_mobile_menor" src="{% static 'imagens/logo_centro.png' %}"></a>

            <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-small-only"><img id="btn_menu" src="{% static 'imagens/menu.png' %}"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up"><img id="btn_menu_menor" src="{% static 'imagens/menu.png' %}"></a>

            <ul class="side-nav" id="mobile-demo">
                <li><a class="opcoes_menu_mobile black white-text" href="#"><p>FECHAR</p></a></li>
                <li><a class="opcoes_menu_mobile" href="home"><p>INÍCIO</p></a></li>
                <li><a class="opcoes_menu_mobile" href="atividades"><p>ATIVIDADES</p></a></li>
                <li><a class="opcoes_menu_mobile" href="noticias"><p>NOTÍCIAS</p></a></li>
                <li class="active" id="ativo"><a class="opcoes_menu_mobile" href="quemsomos"><p>QUEM SOMOS</p></a></li>
                <li><a class="opcoes_menu_mobile" href="galeria"><p>GALERIA</p></a></li>
                <li><a class="opcoes_menu_mobile" href="contato"><p>CONTATO</p></a></li>
            </ul>
        </div>

    </nav>

    <nav>
        <div class="nav-wrapper blue darken-3 z-depth-0 nav_localizacao">
            <div class="col container s12 hide-on-med-and-down">
                <a href="#!" class="breadcrumb">Início</a>
                <a href="#!" class="breadcrumb">Quem somos</a>
            </div>
            <div class="col container s12 hide-on-large-only">
                <a href="#!" class="breadcrumb" style="font-size: 24px;">Início</a>
                <a href="#!" class="breadcrumb" style="font-size: 24px;">Quem somos</a>
            </div>
        </div>
    </nav>

    <!-- Fim do menu -->

    <!-- Conteudo -->

    <div class="container row conteudo">
        
        {% for i in participantes %}

        <div class="card col xl3 l6 z-depth-0 hide-on-med-and-down">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'imagens/office.jpg' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" id="nome"> {{ i.nome }} {{ i.sobrenome }}</span>
                <p class="blue-text" id="email"> {{ i.email }} </a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="border-bottom: 1px #AAA solid;" id="nome_completo"> {{ i.nome_completo }} <i class="material-icons right">close</i></span>
                <p> {{ i.email }} </p>
                <p id="descricao"> {{ i.descricao }} </p>
            </div>
        </div>
            
        {% endfor %}

        {% for i in participantes %}

        <div class="card col m12 s12 z-depth-0 hide-on-large-only">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'imagens/office.jpg' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" id="nome"> {{ i.nome }} {{ i.sobrenome }}</span>
                <p class="blue-text" id="email"> {{ i.email }} </a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="border-bottom: 1px #AAA solid;" id="nome_completo"> {{ i.nome_completo }} <i class="material-icons right">close</i></span>
                <p> {{ i.email }} </p>
                <p id="descricao"> {{ i.descricao }} </p>
            </div>
        </div>
            
        {% endfor %}
        
        

    </div>

    <!-- Fim do conteudo -->

    <!-- Rodape -->
    <footer class="page-footer blue darken-3">
            <div class="container row">

                <div class="col xl4 l4 m12 s12 no-padding textos_footer">

                    <ul>

                        <li class="hide-on-large-only titulo_footer_mobile"><b>CENTRO ESPÍRITA BEZERRA DE MENEZES</b></li>
                        <li class="hide-on-med-and-down"><b>CENTRO ESPÍRITA BEZERRA DE MENEZES</b></li>

                        <br>
                        <li>
                            <p class="hide-on-large-only descricao_casa_footer">Fundado em 1948, foi o primeiro centro espírita da capital do Piauí, Teresina.
                                Foi fudado pelo Sr. Severo de Sousa juntamente com sua esposa. Desde o início, em funcionamento no bairro Acarape.</p>
                            <p class="hide-on-med-and-down">Fundado em 1948, foi o primeiro centro espírita da capital do Piauí, Teresina.
                                Foi fudado pelo Sr. Severo de Sousa juntamente com sua esposa. Desde o início, em funcionamento no bairro Acarape.</p>
                        </li>
                        <br>
                    </ul>

                </div>

                <div class="col xl1 l1 m12 s12"></div>

                <div class="col xl3 l3 m12 s12 no-padding">

                    <ul>
                        <li class="hide-on-large-only titulo_footer_mobile"><b>Links</b></li>
                        <li class="hide-on-med-and-down"><b>Links</b></li>

                        <br>

                        <li class="textos_footer_mobile hide-on-large-only"><a class="white-text" href="admin">Administração</a></li>
                        <li class="textos_footer hide-on-med-and-down"><a class="white-text" href="admin">Administração</a></li>


                        <li class="textos_footer_mobile hide-on-large-only">Fale conosco</li>
                        <li class="textos_footer hide-on-med-and-down">Fale conosco</li>

                        <li class="textos_footer_mobile hide-on-large-only">Quem somos</li>
                        <li class="textos_footer hide-on-med-and-down">Quem somos</li>

                        <li class="textos_footer_mobile hide-on-large-only"><a target="_blank" class="white-text" href="http://fepiaui.org.br/site/">Federação Espírita Piauiense</a></li>
                        <li class="textos_footer hide-on-med-and-down"><a target="_blank" class="white-text" href="http://fepiaui.org.br/site/">Federação Espírita Piauiense</a></li>

                        <br>
                    </ul>

                </div>

                <div class="col xl1 l1 m12 s12"></div>

                <div class="col xl3 l3 m12 s12 no-padding">

                    <ul>
                        <li class="hide-on-large-only titulo_footer_mobile"><b>REDES SOCIAIS</b></li>
                        <li class="hide-on-med-and-down"><b>REDES SOCIAIS</b></li>
                    </ul>
                    <div class="row">

                        <div class="col xl8 no-padding">

                            <img id="logo_fb" src="{% static 'imagens/icons8-Facebook-64.png' %}">
                            <img id="logo_insta" src="{% static 'imagens/icons8-Instagram-64.png' %}">

                        </div>

                        <div class="col xl4"></div>

                    </div>

                </div>

        </div>
        <div class="footer-copyright blue darken-4">
            <div class="container">
                <a class="grey-text text-lighten-4 center" target="_blank" href="">Copyright © 2017 Centro Espírita Bezerra de Menezes - Todos os direitos reservados</a>
                <br>
                <a class="grey-text text-lighten-4 center" target="_blank" href="https://www.facebook.com/kairo.maggot">Feito por Kairo Costa</a>
            </div>
        </div>
    <!-- Fim do rodape -->




    </footer>
</body>
</html>




<!-- geladeira


-->